* {
    margin: 10px;
    /* border-radius: 7px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 1px solid black; */
    /* padding: 10px; */
}

body {
    margin: 0px;
}

html {
    margin: 0px;
}

.container {
    margin: 0px;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

.sidebar {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(32, 33, 33);
    border-radius: 7px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    /* border: 1px solid black; */

}



.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    display: flex;
}


.sidebar ul li img {
    height: 20px;
}




li:hover {

    color: #2980b9;
    font-weight: bold;
}

.topbar {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 7px;

}


.topbar .upper-part {
    display: flex;
    justify-content: space-between;
}

.search-div {
    display: flex;
    flex-direction: row;
}

.search-div img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}


.right-div {
    display: flex;
    align-items: center;
}

.right-div img {
    height: 30px;
    border-radius: 100%;
}

.right-div img:hover {
    border: 2px solid skyblue;
}

.upper-part .search {
    border: none;
    border-radius: 20px;
    background-color: rgb(206, 238, 250);
    /* border: 3px solid #3498db; */
    outline: none;
    padding-left: 10px;
    width: 600px;
    font-size: 16px;
    transition: border-color 0.6s ease;
    outline: none;
}

.upper-part .search:active {
    border: 2px solid #3498db;

}

.upper-part .search:focus {
    border: 2px solid #3498db;

}

.upper-button {
    padding: 3px;
}


.lower-part {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.lower-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower-text img {
    height: 7vh;
    border: 4px solid rgb(84, 203, 250);
    border-radius: 100%;
}

.lower-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.lower-button:hover {
    background-color: #2980b9;
    transform: translateY(-1px);
}

.lower-button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(52, 152, 219, 0.5);
}

.lower-button:active {
    background-color: #1f6096;
    transform: translateY(0);
}

.main {
    border-radius: 7px;
    background-color: #e2e8f0;
    /* grid-column-start: 2; */
    /* border: 1px solid black; */
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
}

.extra {
    border-radius: 7px;
    background-color: #e2e8f0;
    display: grid;
    /* border: 1px solid red; */
    /* grid-column-start: ;
    grid-column-end: 3; */
}

.cardbox {
    background-color: #e2e8f0;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;

}

.cards {

    display: grid;
    background-color: #e2e8f0;
    grid-template-columns: 3fr 1fr;
    /* grid-template-columns: 4fr 2fr; */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: ; */
}

.card {
    border-radius: 7px;
    font-size: smaller;
    display: flex;
    justify-content: center;
    border-left: 5px solid skyblue;
    flex-direction: column;
    /* border: 1px solid red; */
    background-color: white;
    /* grid-column-start: 1; */
    height: 250px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;

}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.card .title {
    font-weight: bold;
}


.card-share {
    display: flex;
    justify-content: right;

}
.card-share img {
    height: 20px;

}


.announcements,
.trending {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;



}

.trending {
    border-radius: 7px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    /* border: 1px solid red; */
    background-color: rgb(214, 240, 250);
    border-left: 5px solid skyblue;
    /* grid-column-start: 1; */
    /* height: 200px; */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;

}

.trending:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}